---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout class="w-main">
	<h1 class="text-3xl font-bold">Hi, we are protecting the open nature of the web</h1>
	<div class="prose">
		<p>
			At ConvoComet, we are building open source software to help replace the siloed discussions on
			social media with open discussions together. We are working to remove the negative image of
			blog comment sections set by tools like Disqus and replace it with a much more clean, usable,
			lightweight yet powerful discussion tool.
		</p>
		<p>Everything is still under construction right now</p>
	</div>
</BaseLayout>
