---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="i-material-symbols:mail text-7xl text-center m-auto"></div>
	<h1 class="text-3xl font-display font-bold text-center">
		Please check your email for a link to sign in
	</h1>
</BaseLayout>
