---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
	class="w-main prose text-lg"
	SEO={{
		title: 'ConvoComet - Privacy Policy',
		description: 'ConvoComet preserves user privacy and protects their data'
	}}
>
	<header class="text-3xl font-bold font-display text-center"><h1>Privacy Policy</h1></header>
	<h2>Summary</h2>
	<p>
		ConvoComet does not use any cookies or store any data other than data sent as comments for
		unauthenticated users. For signed in users, we only store the bare minimum necessary to provide
		core functionality.
	</p>
	<p>
		We comply GDPR, CCPA, PECR and other privacy regulations on our website and on our widget. We
		take privacy seriously and avoid all uneccessary collection of your data
	</p>
	<p>
		In this policy, we lay out what data we collect and why, how your data is handled and your
		rights to your data. We promise we never sell your data: never have, never will.
	</p>
	<h2>Unauthenticated Users</h2>
	<p>
		As an unauthenticated user on convocomet.dev ("ConvoComet website", "website") or the
		ConvoComent commenting widget ("widget"):
		<ul>
			<li>
				No personal information is stored outside of what is submitted through posting a comment
			</li>
			<li>No information such as cookies is stored in the browser</li>
			<li>No information is shared with advertising companies</li>
			<li>No information is mined and harvested for personal and behavioral trends</li>
			<li>No information is monetized</li>
		</ul>
	</p>
	<h3>ConvoComet Website</h3>
	<p>
		In some areas of the ConvoComet site, we collect anonymous usage data using Plausible Analytics.
		This is used to find trends in traffic, and all data is in aggregate. View
		<a href="https://plausible.io/privacy">Plausible's privacy policy</a>
	</p>
	<h3>ConvoComet Widget</h3>
	<p>
		Data submitted through the ConvoComet commenting widget will be stored on ConvoComet's databases
		(see <a href="/#storage">storage</a> below). This includes the following:
	</p>
	<ul>
		<li>
			<b>Email (if submitted)</b>: Your email is stored if submitted through the widget. This is
			used to help provide email notification services and to ensure proper spam protection
		</li>
		<li>
			<b>Submitted name</b>: The name, whether real or pseudoname, is stored to provide
			identification for other users of the widget
		</li>
		<li>
			<b>Content of submitted Comments</b>: The content of submitted comments is stored to allow
			others to view comments
		</li>
	</ul>
	<p>
		In addition, some data such as IP addresses and the aformentioned data might be sento Akismet in
		order to prevent spam. Please consult the website using the widget to see whether this is
		enabled. View <a href="https://akismet.com/privacy/">Akismet's Privacy Policy</a>
	</p>
	<p>All data collection is clearly marked in the widget</p>
	<p>
		Emails are sent using Mailchannels. For information on data usage, view <a
			href="https://www.mailchannels.com/privacy-policy/">Mailchannel's privacy policy</a
		>
	</p>
	<h2>Authenticated users</h2>
	<p>
		In addition to everything collected for unauthenticated users, ConvoComet collects the following
		information for users who are signed in
	</p>
	<ul>
		<li>
			<b>Account Email</b>: Your account email is used for verification and to provide email
			notification services
		</li>
		<li>
			<b>OAuth Account Information</b>: If signing in through an OAuth provider, the id, username,
			and profile picture of the account you signed in with will be stored
		</li>
		<li>
			<b>Browser Session</b>: Cookies are used to store your current session so you do not have to
			sign in multiple times. Logging out will remove these cookies
		</li>
		<li>
			<b>Payment Information</b>: Payment information is processed and stored by Lemonsqueezy.com.
			View <a href="https://www.lemonsqueezy.com/privacy">Lemonsqueezy's privacy policy</a>
		</li>
	</ul>
	<h2>Legitimate Interest</h2>
	<p>
		All data stored and processed is used in the interest of providing a fast, privacy friendly
		commenting widget for website owners, and all features within that, including email
		notifications, session verification, and spam protection.
	</p>
	<h2 id="storage">Data Storage & Processing</h2>
	<p>
		Data is stored using Turso's hosted database service, with locations in the US, France, and
		Singapore. View <a href="https://turso.tech/privacy-policy">Turso's privacy policy</a>
	</p>
	<p>
		Data is processed on the global Cloudflare Workers network. View <a
			href="https://www.cloudflare.com/privacypolicy/">Cloudflare's Privacy Policy</a
		>
	</p>
	<h2>Retention of Data</h2>
	<p>
		We will retain your information as long as your account is active, as necessary to provide you
		with the services or as otherwise set forth in this policy. We will also retain and use this
		information as necessary for the purposes set out in this policy and to the extent necessary to
		comply with our legal obligations, resolve disputes, enforce our agreements and protect
		ConvoComet’s legal rights. You can choose to delete your ConvoComet account at any time by
		emailing <a href="mailto:contact@convocomet.dev">contact@convocomet.dev</a>. All your data will
		be permanently deleted immediately when you delete your account.
	</p>
	<h2>Changes and questions</h2>
	<p>
		We may update this policy as needed to comply with relevant regulations and reflect any new
		practices. Whenever we make a significant change to our policies, we will also announce them on
		our company blog or social media profiles.
	</p>

	<p>
		Contact us at <a href="mailto:contact@convocomet.dev">contact@convocomet.dev</a> if you have any
		questions, comments, or concerns about this privacy policy, your data, or your rights with respect
		to your information. You can also view the <a href="https://github.com/AsyncBanana/ConvoComet"
			>full source code</a
		> online.
	</p>
	<p>Last updated: May 3rd, 2023</p>
</BaseLayout>
